.menu-header-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.menu-header-content ion-label {
    margin-bottom: 10px;
}

.side-menu {
    padding: 10px;
}

.menu-username {
    font-weight: bold;
}

.menu-email {
    font-size: small;
}

.menu-usage {
    font-size: x-small;
}

ion-button.md {
    text-transform: unset;
}