<ion-app>
  <ion-menu side="start" menuId="side" contentId="main">
    <div class="menu-header-content">
      <ion-label class="menu-username">Juan Dela Cruz</ion-label>
      <ion-label class="menu-email">jdelacruz@email.com</ion-label>
      <ion-progress-bar value="0.2"></ion-progress-bar>
      <ion-label class="menu-usage">20.6% of 10 GB used</ion-label>
      <ion-button>Upgrade for more space</ion-button>
    </div>
    <ion-header>
      
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>Paper</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
          <ion-label>Offline</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="file-tray-full-outline" slot="start"></ion-icon>
          <ion-label>File Request</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          <ion-label>Notifications</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="caret-up-circle-outline" slot="start"></ion-icon>
          <ion-label>Upgrade</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
