<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMainMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="recent">Recent</ion-segment-button>
      <ion-segment-button value="shared">Shared</ion-segment-button>
      <ion-segment-button value="starred">Starred</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div class="page-content">
    <img width="200" height="200" src="assets/image.jpg"/>
    <div class="content-text">
      <p>
        <b>Pick up where you left off</b>
      </p>
      <p>
        After you view a file, it'll show up here, so you can jump back in anytime.
      </p>
    </div>
  </div>
</ion-content>