<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMainMenu()"></ion-menu-button>
    </ion-buttons>
    <ion-title>Dropbox</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="actions">
    <ion-button color="light">
      <ion-icon name="cloud-upload-outline"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-button>
    <ion-button color="light">
      <ion-icon name="folder-outline"></ion-icon>
      <ion-label>Folder</ion-label>
    </ion-button>
    <ion-button color="light">
      <ion-icon name="scan-circle-outline"></ion-icon>
      <ion-label>Scan</ion-label>
    </ion-button>
  </div>
  <ion-list>
    <ion-list-header lines="inset">
      <ion-toolbar>
        <ion-buttons>
          <ion-button slot="primary">
            <ion-label>Name</ion-label>
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="grid-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-list-header>
    <ion-item *ngFor="let item of items" button>
      <ion-icon slot="start" *ngIf="item.type==0" name="folder-outline"></ion-icon>
      <ion-icon slot="start" *ngIf="item.type==1" name="document-outline"></ion-icon>
      <div class="file-item-details">
        <ion-label>{{item.name}}</ion-label>
        <ion-label class="file-item-detail" *ngIf="item.details != null">{{item.details}}</ion-label>
      </div>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
