.actions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: auto;
    margin: 10px;
}

.file-item-details {
    display: flex;
    flex-direction: column;
}

.file-item-detail {
    font-size: smaller;
    color: #444444;
}