.page-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-text {
    width: 200px;
    font-size: small;
    text-align: center;
}

.fab-main {
    margin-bottom: 70px;
}